/*
Title:      SimpleBits styles for print media
Author:     Dan Cederholm, dan@simplebits.com
Updated:    Jan 2 2005
*/

body {
	margin: .6in;
	font-family: Verdana, sans-serif;
	font-size: 12pt;
	}

h1, h2, h3 {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	}
#title h2 {
	color: gray;
	font-size: 90%;
	font-weight: normal;
	margin-bottom: 1.5em;
	}

#nav, #theme, #sidebar, hr {
	display: none;
	}
	
a:link, a:visited {
	color: gray;
	}	

/* print URLs after link text */
#content .entry p a:link:after, #content .entry p a:visited:after {
	content: " (" attr(href) ") ";
	}